# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Set UTF-8 encoding
      run: |
        echo "LC_ALL=en_US.UTF-8" >> $GITHUB_ENV
        echo "NUGET_XMLDOC_MODE=skip" >> $GITHUB_ENV  # 避免 XML 文档解析问题
    - name: Build
      working-directory: ./src
      run: dotnet build
    - name: Test
      working-directory: ./src
      run: dotnet test --no-build --logger "console;verbosity=normal;Encoding=UTF-8"
